<div id="nav-wrapper" class="grid-container full transition-fast">
    <div class="grid-x grid-margin-x">
        <div class="cell auto medium-offset-1 overflow">
            <div id="nav-inner">
                <a class="anonymous" href="../anonymous/index.html">Anonymous</a><br>
                <a class="fake" href="../fake/index.html">Caterina Fake</a><br>
                <a class="manning" href="../manning/index.html">Chelsea Manning</a><br>
                <a class="snowden" href="../snowden/index.html">Edward Snowden</a><br>
                <a class="musk" href="../musk/index.html">Elon Musk</a><br>
                <a class="spiegel" href="../spiegel/index.html">Evan Spiegel</a><br>
                <a class="levy" href="../levy/index.html">Jaime Levy</a><br>
                <a class="dotcom active" href="../dotcom/index.html">Kim Dotcom</a><br>
                <a class="verou" href="../verou/index.html">Lea Verou</a><br>
                <a class="mayer" href="../mayer/index.html">Marissa Mayer</a><br>
                <a class="baker" href="../baker/index.html">Mitchell Baker</a><br>
                <a class="wong" href="../wong/index.html">Nicole Wong</a>
            </div>
        </div>
        <div class="cell medium-4 overflow-x hide-for-small-only">
            <div id="nav-picture" class="transition-slow"></div>
        </div>
    </div>
</div>